*.doc
.doc-index
.ttn.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.log
config.status
configure

doc/*.info
doc/*.texi
doc/.deps
doc/Makefile
doc/Makefile.in
doc/stamp-vti

examples/Makefile
examples/Makefile.in
examples/id.cgi

server-utils/*.doc
