# anywhere
Makefile
Makefile.in

# specifically
/COPYING
/INSTALL
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/configure

/build-aux/guile-baux.state
/build-aux/guile.m4
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/texinfo.tex

/build-aux/guile-baux/common.scm
/build-aux/guile-baux/file-newer-than.scm
/build-aux/guile-baux/filenamez.scm
/build-aux/guile-baux/frisk
/build-aux/guile-baux/gbaux-do
/build-aux/guile-baux/module-compile
/build-aux/guile-baux/punify
/build-aux/guile-baux/read-string.scm
/build-aux/guile-baux/scheme-scanner.scm
/build-aux/guile-baux/stemname.scm
/build-aux/guile-baux/temporary-file.scm
/build-aux/guile-baux/ts-base.scm
/build-aux/guile-baux/ts-output.scm
/build-aux/guile-baux/tsar
/build-aux/guile-baux/tsin
/build-aux/guile-baux/write-string.scm

/doc/guile-www.aux
/doc/guile-www.cp
/doc/guile-www.fn
/doc/guile-www.fns
/doc/guile-www.html
/doc/guile-www.info
/doc/guile-www.ky
/doc/guile-www.log
/doc/guile-www.pdf
/doc/guile-www.pg
/doc/guile-www.texi
/doc/guile-www.toc
/doc/guile-www.tp
/doc/guile-www.vr
/doc/guile-www.vrs
/doc/stamp-vti
/doc/version.texi
/doc/snippets

/examples/id.cgi
/examples/wily-guile
/examples/www

# here we try to express:
# everything else under source except Makefile.am and *.scm
/source/*
!/source/*.am
!/source/*.scm
